<br>
<br>
<br>
<br>
<br>


<div class = "pull-right"> 
		<%= image_tag "ShalPic1.jpg", :class => "img-circle" %>
	</div>

<div class = "pull-left">
	<!--<div class="about container">-->
		<div class = "span5">
			<h1>Hello,</h1>
			<br>
			<h2>a bit about me:</h2>



		<!--<div style="border-radius 10px; -moz-border-radius 10px; -webkit-border-radius 10px; width: 20px; height: 20px; background: red; border: solid black 1px;">&nbsp;</div>-->
		<br>
		<br>

				<p>
					Well, my professional background is quite different from IT/Web Development.

					I always wanted to learn coding, something new and unique.As I have been hearing IT or rather computers are very interesting from everyone around me from a very long time, which made me more curious,so I decided that I need a change from my profession.<br>

					Knowing that with no background in computers,it will be a challenge for me. But I didnt give up and accepted it. It has been a challenge till now but my mentor made it easier for me.</p>

					<p>I believe nothing is impossible if you want to achieve anything.</p>


					<div class="circle red"> <br><br><center><a href="#">About me</a></center></div>

		



		<div class="social_blog_links">
			<a href="https://www.facebook.com/shal">
				<i class="icon-facebook"></i>
			</a>
			 &nbsp;
			<a href="https://twitter.com/Sha">
				<i class="icon-twitter"></i>
			</a>
			 &nbsp;
			 <a href="https://github.com/shal23">
			 	<i class="icon-github"></i>
			 </a>
			 &nbsp;

		</div>
	</div>
</div>
	



 	

	
