	<br>
	<br>
	<br>
		<%= image_tag "ShalPic1.jpg", :class => "img-polaroid" %>

	
<div class = "pull-right">
		<div class = "span5">
			<h2><b>Hello and welcome to my website,</b></h2>

<div>
<h4>A bit about me:</h4>
<br>
	<p align="justify">																I am a dentist by profession and recently started dabbling in 
		web development. Wait! Did you say 'a dentist'? I know it surprises people when I tell them my background as it is not very often that you hear about a dentist learning web development. But life is full of surprises, isn't it?
	</p>
	<p align="justify">															
		Indeed I surprised myself when I decided to start on this journey as I had never imagined that I would take up web development one day. But I did! I think one must always be open to new opportunities and new ideas.This is what life has taught me.
	</p>
	<p align="justify">															
		The opportunity to learn web development using ruby on rails will hopefully take me in new directions and throw open new doors for me. This website is a testament to my journey, my efforts and my dreams!
		Give me a shout if you like what I am doing. Meanwhile please checkout the links below.
	</p>
</div>
		<div class="span10 pull-right">
				<p><a href="https://www.facebook.com/dr.shalinidalal" target="_blank"><%= image_tag "facebook.png" %> &nbsp; </a>
					<a href="https://plus.google.com/u/0/108066802380437907163/about/p/pub?partnerid=gplp0" target="_blank"><%= image_tag "google_plus.png" %> &nbsp; </a>
				<a href="http://www.linkedin.com/pub/shalini-dalal/70/234/b75" target="_blank"><%= image_tag "linkedin.png" %> </a></p>

		</div>
	</div>
</div>
