<br>
<br>
<h2><b>My Projects</b></h2>
<br>
<br>
<p><h4>Some projects which I have worked on include:</h4></p>
<br>
<br>
<br>
	<a href="http://codetry.org" target="_blank">Codetry : Group project &nbsp;</a> <br>

	<a href="http://railsforsnails.herokuapp.com" target="_blank">Rails for Snails (Curious Coders) : Group project &nbsp; </a> <br>

	<a href="https://www.shalininirwal.com" target="_blank"> My first personal blog &nbsp; </a> <br>

	<a href="http://indausfair.herokuapp.com" target="_blank">Project for non-profit organisation &nbsp; </a> <br>


	My personal website (Coming Soon) <br>	
 

