<br>
<br>
<h2><b>My Projects</b></h2>
<br>
<br>
<p><h4>Some projects which I have worked on include:</h4></p><br>
<ul>
	<li>Codetry : Group project</li>
	<li>Curious Coders : Group project</li>
	<li>My first personal blog </li>
	<li>Working on a project for non-profit organisation</li>
	<li>My personal website </li> 
<ul> 

