
<h1>
 My journey on Rails!</h1>

<p>Just a few weeks back all I knew about rails was that it had to do something with trains! But
now I know that even ruby can run on rails. And this journey is only just beginning for me and
I am thoroughly enjoying it. I must say that I have actually surprised myself with all that I have
accomplished in the camp so far. All thanks to two motivated and enthusiastic individuals who have
guided the class and given us this great opportunity of learning ruby on rails – Danila and Peter.
Without them I would not have started on this journey and been able to continue.</p><br>

<p>I have to say that I have learnt so much in such a short time and yet I know that there is so much
to learn. Where is the destination of this journey– I don’t know? But what is more important to me
right now - is the journey itself and not the destination. So I am trying my best to enjoy it and make
the most of it.</p><br>

<p>Peter, my mentor has guided me very patiently and answered all my queries to the best of his
knowledge despite me asking him the silliest of questions at times. I really appreciate his effort and
also, Danila D., who has put the effort to bring us the best mentors and resources. I hope her vision
of making the Sydney development camp becomes true.</p><br>

<p>And also, all of my classmates or should I say campmates have been giving it their best and putting
in the effort to finish the challenges. All of them are nice and despite me being the only girl in the
class (of course how can I forget Danila Davidson), I have never felt being treated differently. And
how can I forgot all the Friday lunches, guest lectures, inspiring documentaries and Friday drinks that
we have enjoyed so far! They include some amazing experiences that the class has had. Again thanks
to Danila and Peter for making all this possible for us. I hope all of us do well and find success at the
end of the course. Best of luck everyone!</p>
<br>
<br>
<br>
<% @posts.each do |post| %>
<h2><%= post.title %></h2>
<p><%= post.content %></p>
<hr>
<%= link_to 'Edit Post', edit_post_path(post) %> 

<% end %>
<br>
<br>
<br>


<%= link_to 'New Post', new_post_path %>
 