.navbar-inner {
  min-height: 60px;
  padding-right: 40px;
  padding-left: 20px;
  background-color: #022859;
  background-image: none;

  }
  
 body {
 background-color: #cccccc; 
 padding-top: 60px; 
 }

.circle {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px; 
}
.red {
  background-color: rgba(200,100,100,0.55);
}