.navbar-inner {
  min-height: 60px;
  padding-right: 40px;
  padding-left: 20px;
  background-color: #022859;
  background-image: none;

  }
  
 body {
 background-image: url(nasty_fabric.png); 
 padding-top: 60px; 
 }