.navbar-inner {
  min-height: 60px;
  padding-right: 40px;
  padding-left: 20px;
  background-color: #022859;
  background-image: none;

  }
  
 body {
 background-color: #cccccc; 
 padding-top: 60px; 
 }

.circle {
    width: 200px;
    height: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px; 
}
.red {
  background-color: rgba(200,100,100,0.55);
}

.img-circle {
  -webkit-border-radius: 500px;
     -moz-border-radius: 500px;
          border-radius: 500px;

}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

a {
  color: #0088cc;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #005580;
  text-decoration: underline;
}

.modal-footer:before,
.modal-footer:after {
  display: table;
  line-height: 0;
  content: "";
}

.modal-footer:after {
  clear: both;
}

.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}